<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ECC_PI_ServerName" value="ECC-PISRV1" />
    <add key="ECC_AF_ServerName" value="" />
    <!--ECC DEV-->
    <!--<add key="ECC_DB_DataSource" value="epat" />
    <add key="ECC_DB_UserId" value="G_ECCPI_ORA" />
    <add key="ECC_DB_Password" value="WUIVZi+a+3zzvmb6MjojSQ==" />-->
    <!--LOCAL DEV-->
    <add key="ECC_DB_DataSource" value="//ECC-PISRV1.cmelb.local/eccpi"/>
    <add key="ECC_DB_UserId" value="ECCUSER"/>
    <add key="ECC_DB_Password" value="94hkroCp5bQygGSztFQ5mQ=="/>
    <add key="RUN_FREQUENCY" value="Daily" />
    <add key="RUN_HOUR" value="8" />
    <add key="RUN_MINUTE" value="0" />
  </appSettings>
</configuration>